head
    script(src="../js/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")
    script(src="../js/script.js")
    script(src="../js/progressbar.min.js")
    link(
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css",
        rel="stylesheet"
    )
    link(
        href="../css/style.css",
        rel="stylesheet"
    )
