doctype html
html(lang="en")
	include ./head.pug
	body
		.container
			h1 Waves
			#percentage.percentage
			.user-container
				.user#user1
					a.login#login1 Log In with Spotify
					img(src="img/jess.jpg")
					h2 Jessica He
				.user#user2
					a.login#login2 Log In with Spotify
					img(src="img/jess.jpg")
					h2 Anne Lin
	script(src="../js/jquery.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")
	script(src="../js/progressbar.js")
	script(src="../js/script.js")