doctype html
html(lang="en")
	include ./head.pug
	body
		.container
			h1 Waves
			button
				Sign in
		#percentage.percentage
		script(src="../js/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")
		script(src="../js/progressbar.js")
		script(src="../js/script.js")