doctype html
html(lang="en")
    include ./head.pug
    body
        .container
            h1 Waves
            img(src="img/logo2.png")#logo
            #percentage.percentage
            #divider
            .user-container
                .test.loggedin Test
                .user#user1
                    img#img1(src="img/empty.png")
                    h2#user1name User One
                    a.login#login1.waves-effect.waves-light(href="/login") Log In with Spotify
                    #loggedin1
                        #oauth

                .user#user2
                    img#img2(src="img/empty.png")
                    h2#user2name User Two

            //#login
                //.forms
                    //a.waves-effect.waves-light.btn(href="/login") sign-in
            //#loggedin
                //#user-profile
                
                //button.btn.btn-default#obtain-new-token get-token
            //#percentage.percentage
        script#user-profile-template(type='text/x-handlebars-template').
            <h2>{{display_name}}</h2>
        script#oauth-template(type='text/x-handlebars-template').
            <dl class="dl-horizontal">
                <dt>Share URL:</dt><dd class="text-overflow"><textarea onclick="this.focus();this.select()" readonly="readonly">{{share_url}}</textarea></dd>
            </dl>
        script(src="../js/jquery.min.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")
        script(src="../js/progressbar.js")
        script(src="../js/script.js")
        script(type='text/javascript').
            (function() {
                /**
                 * Obtains parameters from the hash of the URL
                 * @return Object
                 */
                function getHashParams() {
                  var hashParams = {};
                  var e, r = /([^&;=]+)=?([^&;]*)/g,
                      q = window.location.hash.substring(1);
                  while ( e = r.exec(q)) {
                     hashParams[e[1]] = decodeURIComponent(e[2]);
                  }
                  return hashParams;
                }

                var tokens = undefined;

                var userProfileSource = document.getElementById('user-profile-template').innerHTML,
                    userProfileTemplate = Handlebars.compile(userProfileSource),
                    userProfilePlaceholder = document.getElementById('user-profile');

                var oauthSource = document.getElementById('oauth-template').innerHTML,
                    oauthTemplate = Handlebars.compile(oauthSource),
                    oauthPlaceholder = document.getElementById('oauth');

                var params = getHashParams();

                var access_token = params.access_token,
                    refresh_token = params.refresh_token,
                    share_url = params.share_url,
                    state = params.state,
                    error = params.error;

                if (error) {
                  alert('There was an error during the authentication');
                } else {
                  if (access_token) {
                    $(".dl-horizontal").fadeOut();
                    $('#login1').hide();
                    //$('#loggedin1').show();
                    // render oauth info
                    oauthPlaceholder.innerHTML = oauthTemplate({
                      access_token: access_token,
                      refresh_token: refresh_token,
                      share_url: share_url
                    });

                    $.ajax({
                        url: 'https://api.spotify.com/v1/me',
                        headers: {
                          'Authorization': 'Bearer ' + access_token
                        },
                        success: function(response) {
                            console.log("Intial");
                            console.log(response);
                            $("#img1").fadeOut(function() {
                                $(this).attr("src",response.images[0].url).fadeIn(800);
                                $("#user1name").text(response.display_name).fadeIn(800);
                            });
                        }
                    });
                    //lukas TODO
                    if (share_url === "http://0.0.0.0:3000/login") {
                    	$(".dl-horizontal").hide();
                        $.get( "http://0.0.0.0:3000/token", 
                        {number : 2, clientid : state}, 
                        function( data ) {
                            console.log(data);
                            tokens = data;
                            $.ajax({
                                url: 'https://api.spotify.com/v1/me',
                                headers: {
                                  'Authorization': 'Bearer ' + tokens['client2']
                                },
                                success: function(response) {
                                    console.log("Intial");
                                    console.log(response);
                                    $("#img2").fadeOut(function() {
                                        $(this).attr("src",response.images[0].url).fadeIn(800);
                                        $("#user2name").text(response.display_name).fadeIn(800);
                                    });
                                }
                            });
                            $('#login2').hide();
                            $.get( "http://0.0.0.0:3000/match", 
                                {token1 : tokens['client1'], token2 : tokens['client2']}, 
                                function( data ) {
                                    console.log("Match Results");
                                    console.log(data);
                                    $(".test").fadeIn();
                                    $(".test").one("click", function() {

                                        $(this).addClass("test-clicked");
                                        setTimeout(function() {
                                          $(".test").text("your results").fadeIn();
                                        }, 700);

                                        // progressbar.js@1.0.0 version is used
                                        // Docs: http://progressbarjs.readthedocs.org/en/1.0.0/

                                        var bar = new ProgressBar.Circle('#percentage', {
                                        color: '#fff',
                                        // This has to be the same size as the maximum width to
                                        // prevent clipping
                                        strokeWidth: 3,
                                        trailWidth: 1,
                                        easing: 'easeOut',
                                        duration: 2500,
                                        text: {
                                          autoStyleContainer: false
                                        },
                                        from: { color: '#aee4ff', width: 1 },
                                        to: { color: '#e3aeff', width: 3 },
                                        // Set default step function for all animate calls
                                        step: function(state, circle) {
                                            circle.path.setAttribute('stroke', state.color);
                                            circle.path.setAttribute('stroke-width', state.width);

                                            var value = Math.round(circle.value() * 100);
                                            if (value === 0) {
                                              circle.setText('');
                                            } else {
                                              circle.setText(value+"%");
                                            }

                                          }
                                        });

                                        bar.text.style.fontFamily = '"Raleway", Helvetica, sans-serif';
                                        bar.text.style.fontSize = '8rem';

                                        bar.animate(data["percent"]);  // Number from 0.0 to 1.0
                                        // end progress bar


                                        $(".dl-horizontal").fadeOut();
                                        $("#percentage").fadeIn();
                                        $("#percentage").addClass("percentage-up");
                                        $("#user1").addClass("push-left");
                                        $("#user2").addClass("push-right");
                                    });
                            }); 
                        }); 
                    }
                    else {
                        console.log("User 1");
                    }

                  } else {
                      // render initial screen
                      $('#login1').show();
                      //$('#loggedin1').hide();
                      $('#login2').show();
                      //$('#loggedin2').hide();
                  }

                  document.getElementById('obtain-new-token').addEventListener('click', function() {
                    $.ajax({
                      url: '/refresh_token',
                      data: {
                        'refresh_token': refresh_token
                      }
                    }).done(function(data) {
                      access_token = data.access_token;
                      oauthPlaceholder.innerHTML = oauthTemplate({
                        access_token: access_token,
                        refresh_token: refresh_token
                      });
                    });
                  }, false);
                }
            })();
