body {
  background: #42424f;
  font-family: 'Lato', sans-serif;
}

.container {
	width: 100%;
}

h1 {
	text-align: center;
	text-transform: uppercase;
	color: #fff200;
	font-weight: 700;
	letter-spacing: 5px;
	margin-top: 50px;
}

.user-container {
	width: 80%;
	margin: 0 auto;
	height: 700px;
}

#percentage {
	margin: 20px;
	max-width: 350px;
	max-height: 350px;
	width: 70%;
	height: 70%;
	position: relative;
	margin: 0 auto;
	margin-top: 100px;
	display: none;
}

#divider {
	position: absolute;
	height: 750px;
	left: calc(50% - 53px/2);
}

.user {
	position: relative;
	width: 50%;
	height: 100%;
	float: left;
}

#user2 {
	float: right;
	border-left: 0.8px solid rgba(255,255,255,0.5);
}

.login {
	position: relative;
	display: block;
	margin: 0 auto;
	padding: 10px;
	background-color: #acf962;
	width: 210px;
	text-align: center;
	border-radius: 50px;
	text-transform: uppercase;
	letter-spacing: 1px;
	box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.3);
	-webkit-box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.3);
	font-weight: 400;
	top: 50%;
	transform: translateY(-60%);
	-webkit-transform: translateY(-60%);
}

.user a {
	color: #2b2b2b;
}

.user h2 {
	font-size: 2em;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	color: #acf962;
	display: none;
}

.user img {
	margin: 0 auto;
	display: none;
}
